<table>
    <tr>
        <th>Name</th>
        <th>Telefone</th>
    </tr>

    @foreach (var item in ViewBag.Agenda)
    {
        <tr>
            <td>
                @item.name;
            </td>
            <td>
                @item.telefone;
            </td>
        </tr>
    }
</table>